@{
    ViewBag.Title = "Login";
    Layout = null;
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/login.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/animate-custom.css" />
</head>
<body>
    <section>
        <div id="container_demo">
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form action="@Url.Action("Login")" method="post" autocomplete="on">
                        <h1>Log in</h1>
                        <h4 style="color:red">@ViewBag.error</h4>
                        <p>
                            <label for="username" class="uname"> Email </label>
                            <input id="username" name="email" required="required" type="text" placeholder="eg. mymail@mail.com" />
                        </p>
                        <p>
                            <label for="password" class="youpasswd"> Password </label>
                            <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
                        </p>
                        <p class="keeplogin">
                            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
                            <label for="loginkeeping">Keep me logged in</label>
                        </p>
                        <p class="login button">
                            <input type="submit" value="Login" />
                        </p>
                        <p class="change_link">
                            Not a member yet ?
                            <a href="#toregister" class="to_register">Join us</a>
                        </p>
                    </form>
                </div>

                <div id="register" class="animate form">
                    <form action="@Url.Action("SignUp")" method="post" autocomplete="on">
                        <h1> Sign up </h1>
                        <h4 style="color:red">@ViewBag.error</h4>
                        <p>
                            <label class="uname">Email</label>
                            <input name="email" required="required" type="email" placeholder="mysupermail@mail.com" />
                        </p>
                        <p>
                            <label for="emailsignup" class="youmail">First Name</label>
                            <input name="firstName" required="required" type="text" placeholder="john" />
                        </p>
                        <p>
                            <label for="emailsignup" class="youmail">Last Name</label>
                            <input name="LastName" required="required" type="text" placeholder="Smith" />
                        </p>
                        <p>
                            <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                            <input id="passwordsignup" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
                        </p>
                        <p>
                            <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                            <input id="passwordsignup_confirm" name="passwordConfirm" required="required" type="password" placeholder="eg. X8df!90EO" />
                        </p>
                        <p class="signin button">
                            <input type="submit" value="Sign up" />
                        </p>
                        <p class="change_link">
                            Already a member ?
                            <a href="#tologin" class="to_register"> Go and log in </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>