@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DUCKLAB</h1>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form action="@Url.Action("GetStocks")">
            <input type="submit" value="Get Stocks"/>
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>