@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img src="~/Images/DuckScientist.png" />
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1>Welcome to Duck Labs @ViewBag.name</h1>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

