@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row" style="margin-top:15px">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#market" style="color:black !important">The Stock Market</a></li>
            <li><a data-toggle="tab" href="#buy" style="color:black !important">Buying Stocks</a></li>
            <li><a data-toggle="tab" href="#hold" style="color:black !important">Holding Stocks</a></li>
            <li><a data-toggle="tab" href="#sell" style="color:black !important">Selling Stocks</a></li>
            <li><a data-toggle="tab" href="#facts"style="color:black !important">Fun Facts</a></li>
        </ul>

        <div class="tab-content">
            <div id="market" class="tab-pane fade in active">
                <h3>What is a Stock Market?</h3>
                <p>
                    Like any market, a stock market is simply a theoretical environment in which there are buyers and sellers. When a company wishes to be traded on a public exchange, their company value is divided into thousands and thousands of smaller portions called shares. If a person wishes to buy shares in a certain company, they are known as the buyer, and they have taken a long position.
                    <br />
                    As with any transaction, there must be a seller to deliver the desired goods. When the aforementioned buyer hits the market for shares, an expert known as a market maker will connect the party to a seller. The market maker must take into account the desired price of the seller, as well as the buyer, as he negotiates or asks around for shares that can settle the transaction.
                    <br />
                    Once a buyer and seller have matched through the market maker, the trade goes off to execution, and the two parties receive confirmation of the transaction. It is important to note that a great deal of this process has been automated in recent history, and the use of algorithmic e-trading has allowed faster transactions between buyers and sellers without the need of a market maker.
                </p>
            </div>
            <div id="buy" class="tab-pane fade">
                <h3>When to Buy Stocks</h3>
                <p>
                    The optimal time to buy a stock is when you believe that the shares have the ability to raise in value.
                    <br />
                    This may be concluded through the following ways:
                    <ul>
                        <li>Quantitative Analysis: Models such as trading comps, DCFs, regressions, etc, may be used to value the shares, and if the calculated value is lower than the market price, it may be time to buy.</li>
                        <li>Fundamental Analysis: Analysts that track securities may believe that there is som macro, or quantitative reason to buy a stock. Based on this information, they will analyze historic prices or reactions to market news, and place an order at a perceived bottom price.</li>
                    </ul>
                </p>
                <h3>Why Buy Shares?</h3>
                <p>
                    There are many reasons to buy shares in a company, but for the sake of understanding, let’s go over the 3 most common reasons:
                    <ul>
                        <li>
                            <b>Long Position</b><br />
                            As previously stated, a market participant that wishes to buy shares of a company is said to have a long position in that company. If a buyer has a long position, it means they have found something attractive in the company from a growth perspective. Perhaps they expect the company to release strong earnings, perhaps they believe that the company is positioned in a growing industry, or perhaps they believe that the market is pricing the share too cheap. All of these are reasons for a buyer to take a long position.
                        </li>
                        <li>
                            <b>Hedging</b><br />
                            When someone participates in the market, they will often seek to hedge. Hedging is the practice of minimizing one’s losses through protective buys of safer securities. If someone takes a long position in the newspaper industry, perhaps they may buy shares in the online news industry as well in order to cut potential losses and limit their downside risk. This process is known as hedging.
                        </li>
                        <li>
                            <b>Dividends</b><br />
                            Many publicly traded securities will pay out dividends, which are small percentage payouts of the profit at the end of an accounting cycle. The buyer of a stock may be purchasing the security because they wish to attain guaranteed passive income, no matter the price of the shares.
                        </li>
                    </ul>
                </p>
            </div>
            <div id="hold" class="tab-pane fade">
                <h3>When to Hold Stocks</h3>
                <p>It is best to hold a stock if you are using it to hedge, believe that the stock will continue to rise / will discontinue its pullback, or if you are content with the dividend payout that the stock provides you.</p>
            </div>
            <div id="sell" class="tab-pane fade">
                <h3>When to Sell Stocks</h3>
                <p>It is best to sell a security when you believe that the price has reached its peak. This may be due to quantitative analysis that shows prices to be overvalued, or perhaps you have just realized desired profit and believe that the price is due to fall henceforth. Either way, the investor is likely to place a sell order, and liquidate his position.</p>
                <h3>Why Sell Shares?</h3>
                <p>This is a very simple factor of either realizing your desired profit, or believing that the stock is due to pull back. If an investor has reached his/her desired profit level, he/she may sell the stock and liquidate the position. Alternatively if the investor believes that a stock is due to pull back, or drop in value, he may sell the stock no matter the price in order to cut any expected losses.</p>
            </div>
            <div id="facts" class="tab-pane fade">
                <h3>Some Fun Facts</h3>
                <p>
                    <ul>
                        <li>
                            <b>Oldest Stock Market</b><br />
                            First stock trading market was born in 1602, the Amsterdam Stock Exchange was started by the Dutch East India Company. It's now known as Euronext Amsterdam.
                        </li>
                        <li>
                            <b>The New York Stock Exchange</b><br />
                            The biggest stock exchange in the world, and the largest in the United States. The market opened for the first time in 1792.
                        </li>
                        <li>
                            <b>Ticker Tapes</b><br />
                            Before you could trade stocks online or see which stocks and securities were trading in real time on TV, your computer or mobile phone, brokers relied on stock ticker tapes, which printed out stock price information that was transmitted over telegraph lines. The ticking sound as the paper printed is how it earned its name.
                        </li>
                        <li>
                            <b>The October Effect</b><br />
                            Whether it's coincidence or not, investors and brokers get nervous in the month of October because the worst stock market crashes occurred during this time.
                            On October 29, 1929, the first devastating stock market crash occurred. Stocks plummeted 25 percent over a few days, sending investors into a panic. It began with the London Stock Exchange crash the month before, and continued with a volatile market and frantic selling of stocks. This led to the Great Depression of the 1930s, which lasted a decade.
                            On Monday, October 19, 1987, the world markets began crashing and by the end of the month, markets had dropped huge percentage points – almost 46 percent in Hong Kong, more than 26 percent in the United Kingdom and nearly 23 percent in the United States. Additionally, markets dropped in 2002 and 2008 as well.
                        </li>
                        <li>
                            <b>Stock Market Movies</b><br />
                            The stock market is a good stage setting for drama, so it comes as no surprise that Hollywood has produced numerous films about the exchange. Some of the movies are as flimsy as the film they were shot on, but a handful tell true-to-life stories of fortunes and failures. Check out The Big Short, Too Big to Fail and The Wolf of Wall Street.
                        </li>
                        <li>
                            <b>Opening Bell</b><br />
                            Since 1903, the start of every day's trading session on the NYSE starts with the ringing of an actual bell at 9:30 a.m. Eastern Standard Time. Originally, the signal was a gavel, and then a gong. Many high-profile people have been invited to participate in the tradition of ringing the opening bell, including singer Usher, former President Ronald Reagan, actor Robert Downey, Jr., firefighters and Star Wars villain Darth Vader.
                        </li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</div>

